#trigers h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600px;
	color: #747474;
}
#trigers p {
	font-family: 'Montseratt', sans-serif;
	font-weight: 300px;
	color: #8c8c8c;
}
#trigers i {
	font-size: 50px;
	color: #555555;
}
hr {
	display: inline-block;
	border: none;
	height: 3px;
	background-color: #f1eee9;
	width: 70px;

}

#trigers h4,
#trigers i,
#trigers hr {
	transition: .8s;
}
#trigers .col-md-3:hover h4{
	color: #c7b299;
}
#trigers .col-md-3:hover i {
	color: #c7b299;
}
#trigers .col-md-3:hover hr {
	background-color: #c7b299;
}